* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
    padding-top: 30px;
}

.container {
    margin: 0 15px;
    width: 100%;
    max-width: 900px;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.search {
    width: 100%;
    padding: 15px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.faq-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.faq-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.faq-item p {
    font-size: 16px;
    color: #555;
}

.faq-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.5s;
}

.button:hover {
    background: #6884d3;
}

.text {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

.text .link {
    color: #7494ec;
    text-decoration: none;
}

.text .link:hover {
    text-decoration: underline;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #7494ec;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #6884d3;
}